@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll; /* Always show the vertical scrollbar */
}

/* Define default size for grid items */
.grid-item {
  min-width: 258px;
  min-height: 202px;
  border-radius: 50px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-out;
}

.grid-item:hover {
  transform: translate(-10px, -10px);
  cursor: pointer;
}

/* Responsive media queries */
@media (max-width: 1024px) {
  /* For tablets, change size */
  .grid-item {
    min-width: 200px;
    min-height: 160px;
  }
}

@media (max-width: 768px) {
  /* For mobile, change size */
  .grid-item {
    min-width: 300px;
    min-height: 270px;
  }
}
