@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --shadow-color: rgba(0, 0, 0, 0.2); /* Light mode shadow */
}

.dark {
  --bg-color: #121212;
  --text-color: #e4e4e4;
  --shadow-color: rgba(255, 255, 255, 0.5); /* Dark mode shadow */
}

html {
  overflow-y: scroll; /* Always show the vertical scrollbar */
  background-color: var(--bg-color);
  color: var(--text-color);
}

.grid-item {
  /* min-width: 158px;
  min-height: 82px; */
  border-radius: 50px;
  box-shadow: 0 0px 8px var(--shadow-color);
  transition: all 0.4s ease-out;
}

.grid-item:hover {
  transform: translate(-10px, -10px);
  cursor: pointer;
}
.no-hover {
  @apply transform-none cursor-default !important;
}

/* Responsive media queries */
@media (max-width: 1024px) {
  /* For tablets*/
  .grid-item {
    /* min-width: 100px;
    min-height: 60px; */
  }
}

@media (max-width: 768px) {
  /* For mobile */
  .grid-item {
    min-width: 250px;
    max-height: 300px;
    min-height: 220px;
  }
}
